<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ng.lovenovel">
	<!--
	Flutter needs it to communicate with the running application
	to allow setting breakpoints, to provide hot reload, etc.
	-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" android:required="false"/>
	<!-- 这个权限用于进行网络定位 -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false"/>
	<!-- 这个权限用于访问GPS定位 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
